@font-face {
    font-family: 'Mestre';
    src: url('../fonts/Mestre-Italic.woff2') format('woff2'),
        url('../fonts/Mestre-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Mestre';
    src: url('../fonts/Mestre-Regular.woff2') format('woff2'),
        url('../fonts/Mestre-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mestre';
    src: url('../fonts/Mestre-Bold.woff2') format('woff2'),
        url('../fonts/Mestre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}