:root {
    --main-white: #F7F8FA;
    --main-red: #ED6A5B;
    --main-blue: #5887AD;
    --text-gray: #41454D;
    --wrapPadding: 1rem;
}

@media screen and (min-width: 1200px) {
    :root {
        --wrapPadding: 0;
    }
}

$s640: 640px;
$s960: 960px;

$breakpoints: (
    $s640: 640px,
    $s960: 960px   
)

