@each $breakpoint in $breakpoints {
    $namespace:  strip-unit(nth($breakpoint, 2 ));

    .wrap--s#{$namespace} {
        @include breakpoint(nth($breakpoint, 1 )) {
            max-width: calc(1042px - 2rem);
            margin: 0 auto;
            width: 100%;
            padding: 0 var(--wrapPadding);
        }
    }
}

.wrap {
    max-width: calc(1042px - 2rem);
    margin: 0 auto;
    width: 100%;
    padding-left: var(--wrapPadding);
    padding-right: var(--wrapPadding);
}