
/* About us section */

.about-us {
    background-color: var(--main-white);
    background-image: url(../img/lines-red.svg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: space(10);
}

@media (min-width: 768px) and (max-width: 1042px){
    .about-us {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}


.about-us p {
    line-height: 1.75;
}

.about-us .btn {
    margin: space(2) auto 0 auto;
}

.about-us__content {
    -webkit-column-width: 480px;
        -moz-column-width: 480px;
            column-width: 480px;
    -webkit-column-gap: 3rem;
        -moz-column-gap: 3rem;
            column-gap: 3rem;
}

@media screen and (min-width: 768px) {
    .about-us__content {
        -webkit-column-count: 2;
            -moz-column-count: 2;
                column-count: 2;
    }
}