/* Hero section */

.hero {
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: var(--main-blue);
    background-image:
        url("../img/img-chica-parche-cuello.png"),
        url("../img/lines-white-to-blue.svg");
    background-position:
        right bottom,
        center bottom;
    background-size:
    contain,
    cover;
    background-repeat: no-repeat;
    padding-top: space(2);
}

.hero-product {
    height: 80vh;
    background-image: none;
}

.hero-img {
    margin-bottom: space (5);
    max-height: 600px;
}

.hero-img img {
    display: block;
    width: 80%;
    height: auto;
  }

/* Hero background modifier */
.hero-hot {
    background-color: var(--main-red);
}

.hero-content {
    display: flex;
    flex-flow: column nowrap;
}

@media screen and (min-width: 480px) {
    .hero-img img {
        width: 100%;
        height: auto;
    }
}


@media (min-width: 480px) and (max-width: 1024px){
    .hero-img {
        width: 50%;
        margin: 0 auto  ;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    .hero {
        padding-left: space(3);
        padding-right: space(3);
    }    
}

@media screen and (min-width: 1024px) {
    .hero-content {
        flex-flow: row nowrap;
    }
    .hero-title {
        width: 70%;
    }
    .hero-product {
        height: 50vh;
        padding-top: space(2);
    }    
}
