.logo {
    margin-top: space();
    margin-left: space();
    display: inline-block;
    width: 120px;
}

a.logo:hover {
    opacity: .6;
}

@media screen and (min-width: 960px) {
    .logo {
        margin-left: 8%;
    }
}